<p>Welcome, here are everyones Epiphanies!</p>


<% Epiphany.all.each do |y| %>
    
    <h4><%= y.content %></h4><i><%= y.user.name %></i>
<% end %>

<h4><a href='/epiphanies/new'>Create a New Epiphany</a></h4>
<h4><a href='/epiphanies/<%= @user.id %>'>My Epiphanies</a></h4>
<h4><a href='/logout'>Logout</a></h4>





