<form method="POST" action="/epiphanies/<%= @epiphanies.id %>/delete">
<input type="submit" value="Delete Epiphany">
</form>
<p><%= @epiphanies.content %></p>
<a href="/epiphanies/<%= @epiphanies.id %>/edit">Edit Epiphany</a>
