<h1>My Epiphanies</h1>
</br><i>click to edit</i>
</br>

<% if !@epiphanies.empty? %>
    <% @epiphanies.each do |x| %>
        </br><a href="/epiphanies/<%= x.id %>/edit"><%= x.content %></a></br>
    <% end  %>
<% else %>
    </br><h4>You don't have any epiphanies yet!  Click below to create your first one!</h4>
<% end %>
</br>

<h4><a href='/epiphanies/new'>Create a New Epiphany</a></h4>
<h4><a href='/epiphanies'>All Epiphanies</a></h4>
<h4><a href='/logout'>Logout</a></h4>



