<h1>My Epiphanies</h1>
<i>click to edit</i>
</br>
<% @all_epiphanies.each do |x| %>
    </br><a href="/epiphanies/<%= x.id %>/edit"><%= x.content %></a></br>
<% end  %>
</br>
<form method="POST" action="/epiphanies/<%= @epiphanies.id %>/delete">
</form>
